<div class='container my-5'>

  <h4 class='row mb-5'>
    <div>　　　　　</div><span class='heading-title'>マイページ</span>
  </h4>
  <div class='row my-3'>
    <div class='col-2'>
      <h4><strong>登録情報</strong></h4>
    </div>
      <%= link_to "編集する", customers_information_edit_path, class:"col-2 btn btn-success" %>
  </div>
  
  <table class="table table-bordered secondary col-8">
    <tr>
      <th class="col-2 table-secondary">氏名</th>
      <td class='col-5'><%= @customer.family_name %>　<%= @customer.first_name %></td>
    </tr>

    <tr>
      <th class="col-2 table-secondary">カナ</th>
      <td><%= @customer.family_name_kana %>　<%= @customer.first_name_kana %></td>
    </tr>

    <tr>
      <th class="col-2 table-secondary">郵便番号</th>
      <td><%= @customer.post_code %></td>
    </tr>

    <tr>
      <th class="col-2 table-secondary">住所</th>
      <td><%= @customer.address %></td>
    </tr>

    <tr>
      <th class="col-2 table-secondary">電話番号</th>
      <td><%= @customer.tell_number %></td>
    </tr>

    <tr>
      <th class="col-2 table-secondary">メールアドレス</th>
      <td><%= @customer.email %></td>
    </tr>
  </table>
  
  <div class='row my-3'>
    <div class='col-2'>
      <h4><strong>配送先</strong></h4>
    </div>
      <%= link_to '一覧を見る', addresses_path, class: 'col-2 btn btn-primary' %>
  </div>
  
  <div class='row my-3'>
    <div class='col-2'>
      <h4><strong>注文履歴</strong></h4>
    </div>
      <%= link_to '一覧を見る', orders_path, class: 'col-2 btn btn-primary' %>
  </div>

</div>