<div class="row" style="display: flex; align-items: center; justify-content: space-between;">
  <h2 style="margin-left: 10px;">商品一覧</h2>
  <div>
    <%= link_to new_admin_item_path do %>
      <i class="fa-solid fa-plus" style="font-size: 50px; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); margin-right: 10px; margin-bottom: 20px;"></i>
    <% end %>
  </div>
</div>
  
      <table class="table table-lg">
        <thead class="thead-light">
          <tr>
            <th class="col-2">商品ID</th>
            <th class="col-3">商品名</th>
            <th class="col-2">税抜価格</th>
            <th class="col-3">ジャンル</th>
            <th class="col-2">ステータス</th>
          </tr>
        </thead>

        <tbody>
          <% @items_all.each do |item| %>
            <tr>
              <td><%= item.id %></td>
              <td><%= link_to item.name ,admin_item_path(item) %></td>
              <td><%= item.price.to_s(:delimited, delimiter: ',') %></td>
              <td><%= item.genre.name %></td>
              <td>
               <%if item.is_active == true %>
                 <div class="text-success font-weight-bolder">販売中</div>
               <% else %>
                 <div class="text-muted font-weight-bolder">販売停止中</div>
               <% end %>
            </tr>
            <% end %>
           
        </tbody>
      </table>
       <%= paginate @items,class: "text-center" %>
    </div>
 