<div class="row">
  <div class="col-lg-5">
  <h2>商品詳細</h2>
   <%= image_tag @item.get_item_image(300,300)|| "no_image.jpg", width: "60%" %>
   </div>
   
   <div class="col-lg-6">
     <table class="table">
       <tbody>
         <tr>
           <td>商品名</td><td><%= @item.name %></td>
         </tr>
         <tr>
           <td>商品説明</td><td><%= @item.item_details %></td>
         </tr>
         <tr>
           <td>ジャンル</td><td><%= @item.genre.name %></td>
         </tr>
         <tr>
           <td>税込価格<br/>(税抜価格)</td><td><%= @item.add_tax_sales_price.to_s(:dalimited) %>(<%= @item.price.to_s(:dalimited) %>)円</td>
         </tr>
         <tr>
           <td>販売ステータス</td>
           <td>
             <%if @item.is_active == true %>
               <div class="text-success font-weight-bolder">販売中</div>
             <% else %>
               <div class="text-muted font-weight-bolder">販売停止中</div>
             <% end %>
           </td>
         </tr>
       </tbody>
     </table>
   </div>
   </div>
   <div class="row justify-content-center">
     <div>
       <%= link_to "商品の編集", edit_admin_item_path(@item), class: "btn btn-success " %>
     </div>
     <div class="ml-5" >
     <%= link_to "削除", admin_item_path(@item.id), method: :delete,  class: "btn btn-primary ","data-confirm" => "本当に削除しますか？" %>
     </div>
   </div>
   

