<div class='slideshow-container'>
  <div class="form-group row" style="padding-bottom:20px; font-family: 'Kiwi Maru', sans-serif;">
    <div class='col-12 text-center'>
      <p>
        ようこそ、ながのCAKEへ！<br>
        このサイトは、ケーキ販売のECサイトになります。<br>
        会員でない方も商品の閲覧はできますが、<br>
        購入には会員登録が必要になります。
      </p>
    </div>
    <div class="slideshow-container">
    <div class="slide fade">
      <%= image_tag "main1.jpg" %>
    </div>
    <div class="slide fade">
      <%= image_tag "main2.jpg" %>
    </div>
    <div class="slide fade">
      <%= image_tag "main3.jpg" %>
    </div>
    <div class="slide fade">
      <%= image_tag "main4.jpg" %>
    </div>
    <div class="slide fade">
      <%= image_tag "main5.jpg" %>
    </div>
  </div>
  </div>
  <div class='row'>
    <div class='col-3'>

    </div>
    <div class='col-8 offset-1'>

    </div>
  </div>
</div>