<div class="slicker">
  <div>
    <%= image_tag "main1.jpg", class:"ab-slick" %>
  </div>
  <div>
    <%= image_tag "main2.jpg", class:"ab-slick" %>
  </div>
  <div>
    <%= image_tag "main3.jpg", class:"ab-slick" %>
  </div>
  <div>
    <%= image_tag "main4.jpg", class:"ab-slick" %>
  </div>
  <div>
    <%= image_tag "main5.jpg", class:"ab-slick" %>
  </div>
</div>
<p class='text-center'>
  ようこそ、ながのCAKEへ！<br>
  このサイトは、ケーキ販売のECサイトになります。<br>
  会員でない方も商品の閲覧はできますが、<br>
  購入には会員登録が必要になります。
</p>
<div class='row'>
  <div class='col-3'>

  </div>
  <div class='col-8 offset-1'>

  </div>
</div>