
<div class='container my-5'>


  <h4 class='row mb-5'>
    <div>　　　　　</div><span class='heading-title'>注文情報確認</span>
  </h4>

  <div class = "row">
    <table class = "table table-bordered col-7">
      <tr class='table-secondary'>
        <td>商品名</td>
        <td>単価(税込)</td>
        <td>数量</td>
        <td>小計</td>
      </tr>
      <% @cart_items.each do |cart_item| %>
        <tr>
          <td>

            <%= image_tag cart_item.item.get_item_image(60,50)|| "no_image.jpg" %>
            <strong><%= cart_item.item.name %></strong>
          </td>
          <td class="align-middle">
            <%= cart_item.item.add_tax_sales_price.to_s(:delimited, delimiter: ',') %>
          </td>
          <td class="align-middle">
            <%= cart_item.amount %>
          </td>
          <td class="align-middle">
            <%= (cart_item.item.add_tax_sales_price * cart_item.amount).to_s(:delimited, delimiter: ',') %>
          </td>
        </tr>
      <% end %>
    </table>

    <table class = "table table-bordered offset-1 col-4">
      <tr>
        <th class="table-secondary">送料</th>
        <td><%= params[:order][:shipping_fee].to_s %></td>
      </tr>
      <tr>
        <th class="table-secondary">商品合計</th>
        <td><%= @total_price.to_s(:delimited, delimiter: ',') %></td>
      </tr>
      <tr>
        <th class="table-secondary">請求金額</th>
        <td><%=(@total_price + @shipping_fee).to_s(:delimited, delimiter: ',') %></td>
      </tr>
    </table>
  </div>

    <br>

    <div class="row d-flex">
    <h4><strong>支払方法</strong></h4>
      <p class="ml-3 fw-bold"><%= @payment_method %></p>
    </div>

    <br>

    <div class="row d-flex">
    <h4><strong>お届け先</strong></h4>
      <p class="ml-3 fw-bold">〒<%= @post_code %> <%= @address %><br>
      <%= @name  %></p>
    </div>

    <div class="row justify-content-center">
    <%= form_with model: @order, url: orders_path, method: :post, local: true do |f| %>
      <%#= f.hidden_field :customer_id, value: current_customer.id %>
    <%= f.hidden_field :status, value: "waiting_payment" %>
    <%= f.hidden_field :post_code, value: @post_code %>
    <%= f.hidden_field :address, value: @address %>
    <%= f.hidden_field :name, value: @name %>
    <%= f.hidden_field :payment_method, value: @order.payment_method %>
    <%= f.hidden_field :total_price, value: @total_price %>
    <%= f.hidden_field :shipping_fee, value: 800 %>
      <%= f.submit "注文を確定する" , class:"btn btn-success", style: 'min-width: 185px;'  %>
    <% end %>
    </div>
</div>
