<div class="container">
  <div class="row">
    <div class="col-sm-12 px-sm-0">
      <h2>商品一覧(全<%= @items_all.count %>件)</h2>
    </div>
  </div>
  <div>
    <% @items.each do |item| %>
      <%= link_to item_path(item) do %>
        <p><%= image_tag item.get_item_image(250,200)|| "no_image.jpg" %></p>
      <% end %>
      <p>商品名 <%= item.name %></p>
      <% if item.is_active == true %>
        <p>¥<%= item.price.to_s(:delimited) %></p>
      <% else %>
        <p>販売停止中</p>
      <% end %>
    <% end %>
  </div>
  <%= paginate @items, class: "text-center" %>
</div>
